@import url('base.css');

@layer wa-color-palette {
  .wa-palette-elegant {
    --wa-color-red-95: #feeeef /* oklch(96.203% 0.01739 13.095) */;
    --wa-color-red-90: #fbdfe1 /* oklch(92.712% 0.03103 12.802) */;
    --wa-color-red-80: #f2bcc0 /* oklch(84.468% 0.06249 13.512) */;
    --wa-color-red-70: #e79aa1 /* oklch(76.427% 0.09275 13.523) */;
    --wa-color-red-60: #db7781 /* oklch(68.361% 0.12461 14.576) */;
    --wa-color-red-50: #c64b5d /* oklch(58.247% 0.15692 14.667) */;
    --wa-color-red-40: #ac1d3d /* oklch(48.628% 0.17601 15.401) */;
    --wa-color-red-30: #8f002b /* oklch(41.286% 0.16513 15.826) */;
    --wa-color-red-20: #6b001f /* oklch(33.545% 0.13412 15.162) */;
    --wa-color-red-10: #430212 /* oklch(24.607% 0.09481 14.336) */;
    --wa-color-red-05: #2d0109 /* oklch(19.102% 0.07343 14.851) */;
    --wa-color-red: var(--wa-color-red-40);
    --wa-color-red-key: 40;

    --wa-color-orange-95: #ffefe1 /* oklch(96.105% 0.02545 63.746) */;
    --wa-color-orange-90: #fbe0cb /* oklch(92.334% 0.04096 60.142) */;
    --wa-color-orange-80: #efc19f /* oklch(84.313% 0.06973 58.09) */;
    --wa-color-orange-70: #e1a173 /* oklch(76.013% 0.09772 56.368) */;
    --wa-color-orange-60: #d1824d /* oklch(67.937% 0.11938 53.195) */;
    --wa-color-orange-50: #b65d22 /* oklch(57.543% 0.13444 49.914) */;
    --wa-color-orange-40: #934107 /* oklch(47.603% 0.12628 47.819) */;
    --wa-color-orange-30: #773001 /* oklch(40.317% 0.11198 46.326) */;
    --wa-color-orange-20: #592100 /* oklch(32.692% 0.09239 45.689) */;
    --wa-color-orange-10: #381200 /* oklch(24.015% 0.06777 45.771) */;
    --wa-color-orange-05: #260900 /* oklch(18.789% 0.05427 44.405) */;
    --wa-color-orange: var(--wa-color-orange-50);
    --wa-color-orange-key: 50;

    --wa-color-yellow-95: #f7f4da /* oklch(96.266% 0.03422 101.63) */;
    --wa-color-yellow-90: #ede7c3 /* oklch(92.349% 0.04769 99.435) */;
    --wa-color-yellow-80: #d8ca96 /* oklch(83.793% 0.06999 94.829) */;
    --wa-color-yellow-70: #c5ac6b /* oklch(75.167% 0.08892 89.16) */;
    --wa-color-yellow-60: #b39043 /* oklch(67.06% 0.10423 84.751) */;
    --wa-color-yellow-50: #9b6d09 /* oklch(56.774% 0.11557 78.692) */;
    --wa-color-yellow-40: #7c4f00 /* oklch(46.714% 0.10011 71.858) */;
    --wa-color-yellow-30: #623e00 /* oklch(39.642% 0.08465 72.511) */;
    --wa-color-yellow-20: #482d04 /* oklch(32.274% 0.06572 71.644) */;
    --wa-color-yellow-10: #2c1a02 /* oklch(23.612% 0.04739 71.633) */;
    --wa-color-yellow-05: #1d0f01 /* oklch(18.42% 0.03735 69.287) */;
    --wa-color-yellow: var(--wa-color-yellow-50);
    --wa-color-yellow-key: 50;

    --wa-color-green-95: #eaf6ef /* oklch(96.224% 0.01568 160.63) */;
    --wa-color-green-90: #d6ebe0 /* oklch(92.147% 0.02666 163.16) */;
    --wa-color-green-80: #b0d2c0 /* oklch(83.388% 0.04396 162.23) */;
    --wa-color-green-70: #89b9a0 /* oklch(74.448% 0.06245 161.7) */;
    --wa-color-green-60: #66a184 /* oklch(65.998% 0.07584 162.02) */;
    --wa-color-green-50: #378361 /* oklch(55.235% 0.09296 161.66) */;
    --wa-color-green-40: #036645 /* oklch(45.159% 0.0975 162.35) */;
    --wa-color-green-30: #005035 /* oklch(38.128% 0.08321 162.33) */;
    --wa-color-green-20: #003a27 /* oklch(30.855% 0.06552 164.26) */;
    --wa-color-green-10: #002317 /* oklch(22.712% 0.04718 165.92) */;
    --wa-color-green-05: #00160e /* oklch(17.779% 0.03599 168.03) */;
    --wa-color-green: var(--wa-color-green-40);
    --wa-color-green-key: 40;

    --wa-color-cyan-95: #ecf3f6 /* oklch(95.973% 0.00849 225.08) */;
    --wa-color-cyan-90: #dae8ee /* oklch(92.227% 0.01706 225.2) */;
    --wa-color-cyan-80: #aecfdc /* oklch(83.456% 0.0396 223.66) */;
    --wa-color-cyan-70: #82b7c9 /* oklch(74.873% 0.06114 221.03) */;
    --wa-color-cyan-60: #549fb5 /* oklch(66.279% 0.08114 219.25) */;
    --wa-color-cyan-50: #078098 /* oklch(55.379% 0.09774 217.32) */;
    --wa-color-cyan-40: #006274 /* oklch(45.709% 0.0812 216.04) */;
    --wa-color-cyan-30: #004d5a /* oklch(38.635% 0.06787 213.86) */;
    --wa-color-cyan-20: #023841 /* oklch(31.326% 0.05351 212.43) */;
    --wa-color-cyan-10: #012126 /* oklch(22.736% 0.03817 209.61) */;
    --wa-color-cyan-05: #011519 /* oklch(18.019% 0.02954 211.13) */;
    --wa-color-cyan: var(--wa-color-cyan-50);
    --wa-color-cyan-key: 50;

    --wa-color-blue-95: #ebf4fb /* oklch(96.242% 0.01344 240.95) */;
    --wa-color-blue-90: #d8e8f5 /* oklch(92.295% 0.02463 242.35) */;
    --wa-color-blue-80: #b0cee8 /* oklch(83.785% 0.0487 244.56) */;
    --wa-color-blue-70: #88b3dc /* oklch(75.074% 0.0753 247.65) */;
    --wa-color-blue-60: #6299ce /* oklch(66.642% 0.09844 248.63) */;
    --wa-color-blue-50: #3578bc /* oklch(56.244% 0.12562 251.34) */;
    --wa-color-blue-40: #0159a5 /* oklch(46.385% 0.14173 252.83) */;
    --wa-color-blue-30: #00438d /* oklch(39.39% 0.13669 256.43) */;
    --wa-color-blue-20: #00306d /* oklch(32.191% 0.11667 257.51) */;
    --wa-color-blue-10: #001d43 /* oklch(23.62% 0.08036 255.9) */;
    --wa-color-blue-05: #00112f /* oklch(18.443% 0.06618 257.27) */;
    --wa-color-blue: var(--wa-color-blue-40);
    --wa-color-blue-key: 40;

    --wa-color-indigo-95: #f2f3fb /* oklch(96.568% 0.01071 280.48) */;
    --wa-color-indigo-90: #e1e4f7 /* oklch(92.225% 0.02593 278.72) */;
    --wa-color-indigo-80: #c2c8f0 /* oklch(84.125% 0.05619 278.41) */;
    --wa-color-indigo-70: #a2abe9 /* oklch(75.691% 0.08969 277.64) */;
    --wa-color-indigo-60: #838fe0 /* oklch(67.424% 0.12044 276.26) */;
    --wa-color-indigo-50: #616cd2 /* oklch(57.327% 0.15517 275.74) */;
    --wa-color-indigo-40: #444bbe /* oklch(47.719% 0.17747 274.78) */;
    --wa-color-indigo-30: #3235a6 /* oklch(40.598% 0.17674 274.08) */;
    --wa-color-indigo-20: #222581 /* oklch(33.204% 0.15044 273.22) */;
    --wa-color-indigo-10: #121650 /* oklch(24.243% 0.10418 272.65) */;
    --wa-color-indigo-05: #090c39 /* oklch(19.042% 0.08527 272.11) */;
    --wa-color-indigo: var(--wa-color-indigo-40);
    --wa-color-indigo-key: 40;

    --wa-color-purple-95: #f6f2f8 /* oklch(96.593% 0.00898 314.78) */;
    --wa-color-purple-90: #eee2f2 /* oklch(92.695% 0.0249 317.72) */;
    --wa-color-purple-80: #dac1e8 /* oklch(84.417% 0.05975 313.48) */;
    --wa-color-purple-70: #c4a1e0 /* oklch(76.209% 0.09582 309.5) */;
    --wa-color-purple-60: #ad82d8 /* oklch(68.129% 0.13065 306.24) */;
    --wa-color-purple-50: #8e5dcc /* oklch(58.178% 0.16754 301.8) */;
    --wa-color-purple-40: #7039ba /* oklch(48.506% 0.19176 298.45) */;
    --wa-color-purple-30: #5925a1 /* oklch(41.419% 0.1844 296.38) */;
    --wa-color-purple-20: #3f1d77 /* oklch(33.628% 0.14302 294.7) */;
    --wa-color-purple-10: #241443 /* oklch(24.289% 0.08468 295) */;
    --wa-color-purple-05: #160b2e /* oklch(18.938% 0.06685 293.46) */;
    --wa-color-purple: var(--wa-color-purple-40);
    --wa-color-purple-key: 40;

    --wa-color-pink-95: #faf0f7 /* oklch(96.491% 0.0141 336.14) */;
    --wa-color-pink-90: #f4e0ed /* oklch(92.653% 0.0277 338.6) */;
    --wa-color-pink-80: #e7bedb /* oklch(84.585% 0.06022 336.84) */;
    --wa-color-pink-70: #d89cca /* oklch(76.426% 0.09327 335.1) */;
    --wa-color-pink-60: #c87bba /* oklch(68.507% 0.12525 333.74) */;
    --wa-color-pink-50: #b051a6 /* oklch(58.396% 0.16195 331.59) */;
    --wa-color-pink-40: #972592 /* oklch(48.91% 0.19103 329.96) */;
    --wa-color-pink-30: #7f007d /* oklch(41.721% 0.19096 329.18) */;
    --wa-color-pink-20: #5d095a /* oklch(33.889% 0.1448 329.91) */;
    --wa-color-pink-10: #3a0338 /* oklch(24.635% 0.10621 329.91) */;
    --wa-color-pink-05: #280126 /* oklch(19.445% 0.08514 330.49) */;
    --wa-color-pink: var(--wa-color-pink-40);
    --wa-color-pink-key: 40;

    --wa-color-gray-95: #f2f2f3 /* oklch(96.143% 0.00133 286.37) */;
    --wa-color-gray-90: #e5e5e8 /* oklch(92.276% 0.00403 286.32) */;
    --wa-color-gray-80: #c9c9d0 /* oklch(83.798% 0.00965 286.19) */;
    --wa-color-gray-70: #adaeb9 /* oklch(75.343% 0.01566 281.86) */;
    --wa-color-gray-60: #9294a2 /* oklch(66.945% 0.02068 279.35) */;
    --wa-color-gray-50: #727486 /* oklch(56.356% 0.02776 280.45) */;
    --wa-color-gray-40: #55586b /* oklch(46.492% 0.03098 278.07) */;
    --wa-color-gray-30: #424456 /* oklch(39.204% 0.03051 279.92) */;
    --wa-color-gray-20: #30323f /* oklch(32.064% 0.02327 278.14) */;
    --wa-color-gray-10: #1c1d25 /* oklch(23.329% 0.01544 279.52) */;
    --wa-color-gray-05: #111217 /* oklch(18.343% 0.01033 276.41) */;
    --wa-color-gray: var(--wa-color-gray-40);
    --wa-color-gray-key: 40;
  }
}
